<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Email\Model\Template">
        <plugin name="custom_email_template_plugin" type="OBY\EmailTemplate\Plugin\EmailTemplatePlugin"/>
    </type>
</config>