[submodule "app/code/Mageprince/BuyNow"]
	path = app/code/Mageprince/BuyNow
	url = https://github.com/mageprince/magento2-buynow.git
[submodule "app/code/Mageplaza/BlogGraphQl"]
	path = app/code/Mageplaza/BlogGraphQl
	url = https://github.com/mageplaza/magento-2-blog-graphql.git
