<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<!-- End Content -->
</td>
</tr>
<tr>
    <td align="center" class="footer">
        <p style="font-size: 14px; color: #676869">
            68/7B Trần Quang Khải, Quận 1, TP Hồ Chí Minh, Việt Nam
        </p>
        <p style="font-size: 12px; color: #676869">
            Đây là thư tự động được tạo từ danh sách đăng ký của chúng tôi. Do đó, xin đừng trả lời thư này.
        </p>
    </td>
</tr>
</table>
</td>
</tr>
</table>
<!-- End wrapper table -->
</body>
